@tailwind base;
@tailwind components;
@tailwind utilities;

/** Inicio de nuestro estilo personalizado */
.square {
  @apply bg-white
    border border-solid border-gray-400
    float-left
    text-2xl font-bold
    p-0
    text-center
    hover:bg-gray-100
    dark:bg-gray-800 dark:border-gray-600 dark:text-white dark:hover:bg-gray-700;

  /* Dejamos las propiedades con valores arbitrarios como CSS normal */
  line-height: 34px;
  height: 34px;
  width: 34px;
  margin-right: -1px;
  margin-top: -1px;
}
